<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">IC-MN Team </h1>
    <p class="lead text-muted">Ob Künstlerporträt oder Wissenschaftsthemen, große Wirtschaftsfeature oder kleine Hörspiele. Wir haben für alle Ihre Wünsche ein offenes Ohr und produzieren unsere Beiträge in der Regel selbst. Rufen sie uns einfach an. Wir freuen uns.  </p>
    <p>
      <%= link_to 'Mehr über uns', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Unser Blog', blogs_path, class: 'btn btn-secondary' %>
      <%= link_to 'Kontakt', contact_path, class: 'btn btn-success' %>
    </p>
  </div>
</section>
