<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "Alle Team Mitglieder ansehen", portfolios_path %> / 
      <a href="#">Zurück nach oben</a>
    </p>
    <p>
      <%= copyright_generator %>
    </p>
  </div>
</footer>