<div class="app-card-container">
  <div class="card">
    
    <%= render 'close_button' %>
 
    <h1>Über uns </h1>
    
    <hr>

    <div class="row">
      <div class="col-md-6">
        <div class='image-fluid' %>
        <%= image_tag "Jutta_Schwengsbier.jpg", width: 400, alt: "profile image", class: 'profile-img' %>
        </div>
        <hr>
        <p> Jutta Schwengsbier hat Politikwissenschaften, Geschichte, Jura an den Universitäten Freiburg und Hamburg studiert, dann eine Fachausbildung als Medienexpertin im Rundfunkbereich an einer Rundfunkschule in Nürnberg gemacht und zudem den MBA Entrepreneurship an der Universität für Wirtschaft und Recht in Berlin und der State University Wichita in den USA als Zweitstudium abgeschlossen. Sie hat als Moderatorin, Planerin, Reporterin und Chefin vom Dienst bei verschiedenen Radiostationen sowie dem Fernsehsender n-tv gearbeitet. Seit 1995 arbeitet sie als freie Rundfunkkorrespondentin für alle Sender der ARD, den ORF, den Schweizer Rundfunk sowie die britische BBC. Sie war im Jahr 2000 Gründungspartnerin von IC-MN. Für ein Feature bei Deutschlandradio Kultur „40 Jahr Krieg im Sudan“ im Jahr 1995 wurde sie von der Internationalen Journalistenföderation für Toleranz im Journalismus ausgezeichnet. Sie ist in vielen Ländern unterwegs und in zahlreichen Stilformen zuhause.

        </p>
        <p> Neben ihrer journalistischen Tätigkeit ist sie auch sozial engagiert und hat gemeinsam mit Mirko Schwanitz mit <a href='https://www.bigent.org' style='color:blue'>Bigent.org</a> ein Sozialunternehmen gegründet, um mit unternehmerischen Konzepten Bildung, Gesundheit und  Entwicklung zu fördern.

        </p>
        
      </div>

      <div class="col-md-6">
        <div class='image-fluid' %>
        <%= image_tag "mirko_schwanitz.jpg", width: 400, alt: "profile image", class: 'profile-img' %>
        </div>
        <hr>
        <p>
          Mirko Schwanitz, geboren in Halle/Saale studierte Journalistik in Leipzig. Engagierte sich während der politischen Wende in der DDR-Bürgerrechtsbewegung und erhielt dafür noch 1989 Arbeitsverbot in Ost-Berlin. Später arbeitete er u.a. als außenpolitischer Redakteur bei der „Märkischen Allgemeinen“ (Potsdam) und beim ersten digitalen Nachrichtensender Deutschlands Radioropa Info (Daun/Eifel). Seit 1992 berichtet er als freier Korrespondent vor allem aus Südosteuropa für die Programme des ARD-Hörfunks, Deutschlandfunk und DeutschlandRadio Kultur, die Deutsche Welle, sowie für die BBC, den Schweizer und Österreichischen Rundfunk. In der Vergangenheit schrieb er auch Reportagen für Frauenzeitschriften wie „woman“, „marie claire“, „BILD der Frau“ und arbeitete als Rechercheur für Fernseh- und Kinofilmprojekte. Wegen seiner zahlreichen Feature über die Literaturen Osteuropas ist er auch als Moderator von Lesungen und bei Literaturfestivals gefragt. 
        </p>

        <p>
          Mirko Schwanitz ist Mitbegründer und Chefredakteur von IC-MN. Darüber hinaus leitete er 15 Jahre die NGO „Verein Zur Förderung Bulgarischer Waisenkinder“ e.V. und berät heute bulgarische und andere internationale NGOs.
        </p>

        
      </div>
    </div>
  </div>
</div>
