<div class="app-card-container">
  <div class="card">
    <%= render 'close_button' %>
    <h1>Möchten Sie mit uns arbeiten?</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <h3>Adresse</h3>

        <p>Maximilianstr. 47, 13187 Berlin</p>

        <h3>Telefon</h3>

        <p><%= number_to_phone "(+49) 030 - 89656241" %></p>

        <h3>Email:</h3>
        <p>team(at)ic-mn.com</p>


      </div>

      <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2425.476553715286!2d13.408357151252192!3d52.560992679722894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a852127bded80f%3A0x4adab0566e76e6f8!2sMaximilianstra%C3%9Fe+47%2C+13187+Berlin!5e0!3m2!1sde!2sde!4v1519437420167" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>