<p>Hallo <%= @resource.email %></p>

<p>Jemand hat einen Link angefordert, um Ihr Passwort zu ändern. Sie können dies über den untenstehenden Link tun.</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Wenn Sie dies nicht angefordert haben, ignorieren Sie bitte diese E-Mail.</p>
<p>Ihr Passwort wird nicht geändert, bis Sie auf den obigen Link zugreifen und ein neues erstellen.</p>
